body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
p{
    color: dimgray;
}
.half-side{
    float: left;
    width: 40%;
 
    
    
}
.half-side img{
    width: 100%;
}
button{
    background-color: deeppink;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    border: none;
}
.top-banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding: 100px;
}
.biograph-banner{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;

}
#biograph-part{
    padding: 100px;
}
.my-work{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
}
.latest-work img{
    float: left;
    width: 30%;
    margin: 1%;
}